<!DOCTYPE html5>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='calculator.js') }}"></script>
		<link rel=stylesheet href="{{ url_for('static', filename='calculator.css') }}">
	</head>

	<body>
		<table>
			<tr>
				<td colspan=5>
					<h3 id="memory">M</h4>
					<h3 id="display">0</h3>
				</td>
			</tr>
			<tr>
				<td><button id="clr" class="clr">C</button></td>
				<td><button id="mcl" class="mem">MC</button></td>
				<td><button id="mrc" class="mem">MR</button></td>
				<td><button id="mpl" class="mem">M+</button></td>
				<td><button id="mmi" class="mem">M-</button></td>
			</tr>
			<tr>
				<td><button id="neg" class="neg">&plusmn;</button></td>
				<td><button id="sev" class="num">7</button></td>
				<td><button id="eig" class="num">8</button></td>
				<td><button id="nin" class="num">9</button></td>
				<td><button id="div" class="opr">&divide;</button></td>
			</tr>
			<tr>
				<td><button id="per" class="opr">%</button></td>
				<td><button id="fou" class="num">4</button></td>
				<td><button id="fiv" class="num">5</button></td>
				<td><button id="six" class="num">6</button></td>
				<td><button id="mul" class="opr">x</button></td>
			</tr>
			<tr>
				<td><button id="sqr" class="opr">&radic;</button></td>
				<td><button id="one" class="num">1</button></td>
				<td><button id="two" class="num">2</button></td>
				<td><button id="thr" class="num">3</button></td>
				<td><button id="sub" class="opr">-</button></td>
			</tr>
			<tr>
				<td><button id="cle" class="clr">CE</button></td>
				<td><button id="zer" class="num">0</button></td>
				<td><button id="dot" class="num">.</button></td>
				<td><button id="equ" class="opr">=</button></td>
				<td><button id="add" class="opr">+</button></td>
			</tr>
		</table>
	</body>
</html>
